body{
    background-color: #F5F5F5;
    font-family: Brush Script MT,cursive; 
    color: #212121;
}
header{
    position: fixed;
    width: 100%;
    top: 10px;
    z-index: 1000;
    background-color: rgba(189, 189, 189, 0.288);
    padding: 10px 50px 10px;
}
.menu-button{
    background: #303952;
    float: right;
    clear: left;
    margin-left: 5px;
    margin-right: 5px;
}
a:link, a:visited, a:active{
    color: ghostwhite;
}
button:hover{
    background-color: #786fa6;
}
.inter-images{
    margin-left: -7%;
}
#my-photo{
    border-radius: 50%;
    width: 320px;
    height: 300px;
    display: block;
    margin: 10px auto 10px auto;
}
#about-me, #portfolio, #contact{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-top: 4px double #BDBDBD;
    border-bottom: 4px double #BDBDBD;
    padding-top: 30px;
    padding-bottom: 30px; 
}
#contact{
    padding-bottom: 40px;
}
.about-me-right, .contact-right{
    border-left: 4px double #BDBDBD;
}
.skills{
    height: 120px;
    width: 100px;
    margin: 20px 25px 10px 25px;
}
.portfolio-photo{
    border: 3px solid #BDBDBD;
    height: 230px;
    margin: 15px;
}
.contact-left, .contact-right{ /*I left two classes for future manipulation possibilities*/
    text-align: center;
    align-items: center;
}
.input-area{
    width: 80%;
}
.submit-button{
    width: 40%;
    background: #303952;
    color: ghostwhite;
    
}
.submit-button:hover{
    cursor: pointer;
    background-color: #786fa6;
    color: ghostwhite;
}
.twitter-logo, .linkedin-logo{ /*Left two classes for future manipulation possibilities*/
    padding-top: 30%;
    max-height: 100px;
    max-width: 100px;    
}
